In [1]:
#Dataset title - Ecommerce purchases 
#Source - Kaggel (CSV format)
#Dataset on purchases done through amazon 
'''The objective is to carryout exploratory analysis on the dataset to identify trends and read 
meaningful insisghts from the dataset'''

In [1]:
import pandas as pd
from pivottablejs import pivot_ui

In [4]:
data = pd.read_csv("Ecommerce Purchases")

In [8]:
 data.head(5)

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           10000 non-null  object
 1   Lot               10000 non-null  object
 2   AM or PM          10000 non-null  object
 3   Browser Info      10000 non-null  object
 4   Company           10000 non-null  object
 5   Credit Card       10000 non-null  int64
 6   CC Exp Date       10000 non-null  object
 7   CC Security Code  10000 non-null  int64
 8   CC Provider       10000 non-null  object
 9   Email             10000 non-null  object
 10  Job               10000 non-null  object
 11  IP Address        10000 non-null  object
 12  Language          10000 non-null  object
 13  Purchase Price    10000 non-null  float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

In [9]:
data.tail(5)

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
9995,"966 Castaneda Locks\nWest Juliafurt, CO 96415",92 XI,PM,Mozilla/5.0 (Windows NT 5.1) AppleWebKit/5352 ...,Randall-Sloan,342945015358701,03/22,838,JCB 15 digit,iscott@wade-garner.com,Printmaker,29.73.197.114,it,82.21
9996,"832 Curtis Dam Suite 785\nNorth Edwardburgh, T...",41 JY,AM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Hale, Collins and Wilson",210033169205009,07/25,207,JCB 16 digit,mary85@hotmail.com,Energy engineer,121.133.168.51,pt,25.63
9997,Unit 4434 Box 6343\nDPO AE 28026-0283,74 Zh,AM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_7...,Anderson Ltd,6011539787356311,05/21,1,VISA 16 digit,tyler16@gmail.com,Veterinary surgeon,156.210.0.254,el,83.98
9998,"0096 English Rest\nRoystad, IA 12457",74 cL,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_8;...,Cook Inc,180003348082930,11/17,987,American Express,elizabethmoore@reid.net,Local government officer,55.78.26.143,es,38.84
9999,"40674 Barrett Stravenue\nGrimesville, WI 79682",64 Hr,AM,Mozilla/5.0 (X11; Linux i686; rv:1.9.5.20) Gec...,Greene Inc,4139972901927273,02/19,302,JCB 15 digit,rachelford@vaughn.com,"Embryologist, clinical",176.119.198.199,el,67.59

In [11]:
data.columns

Index(['Address', 'Lot', 'AM or PM', 'Browser Info', 'Company', 'Credit Card',
       'CC Exp Date', 'CC Security Code', 'CC Provider', 'Email', 'Job',
       'IP Address', 'Language', 'Purchase Price'],
      dtype='object')

In [12]:
data.dtypes

Address              object
Lot                  object
AM or PM             object
Browser Info         object
Company              object
Credit Card           int64
CC Exp Date          object
CC Security Code      int64
CC Provider          object
Email                object
Job                  object
IP Address           object
Language             object
Purchase Price      float64
dtype: object

In [15]:
data.isnull().sum()

Address             0
Lot                 0
AM or PM            0
Browser Info        0
Company             0
Credit Card         0
CC Exp Date         0
CC Security Code    0
CC Provider         0
Email               0
Job                 0
IP Address          0
Language            0
Purchase Price      0
dtype: int64

In [16]:
len(data.columns)

14

In [17]:
'''Number rows(entries) in the dataset'''
len(data)

10000

In [19]:
#highest purchase price  in the dataset#
data["Purchase Price"].max()

99.99

In [20]:
#lowest purchase price in the dataset#
data["Purchase Price"].min()

0.0

In [21]:
#average purchase price in the dataset#
data["Purchase Price"].mean()

50.34730200000025

In [30]:
'''Getting the number of people 
who made purchases and had french (fr) as their lanquage''' 
len(data[data["Language"] == 'fr'])

1097

In [34]:
#customers who's job title has the word engineer in it#

len(data[data["Job"].str.contains ('engineer', case=False)])

984

In [32]:
#Email address of customer with this ip address 132.207.160.22#
'''Filtering to locate a specific customer using infomation available in the dataset'''

data[data['IP Address']=='132.207.160.22']["Email"]

2    amymiller@morales-harrison.com
Name: Email, dtype: object

In [33]:
#Customers who made use of master card to make payments greater than 50 dollars#
''' Two key points * Card provider * Amount spent''' 
len(data[(data["CC Provider"]=="Mastercard") & (data["Purchase Price"]>50)])

405

In [34]:
#Customers who made use of master card to make payments greater than 50 dollars#
''' Two key points * Card provider * Amount spent - using the count method''' 
data[(data["CC Provider"]=="Mastercard") & (data["Purchase Price"]>50)].count()

Address             405
Lot                 405
AM or PM            405
Browser Info        405
Company             405
Credit Card         405
CC Exp Date         405
CC Security Code    405
CC Provider         405
Email               405
Job                 405
IP Address          405
Language            405
Purchase Price      405
dtype: int64

In [35]:
#Email Address of the customer with this credit card number 46648258997302#
'''Filtering to locate a specific customer using infomation available in the dataset'''
data[data['Credit Card'] == 4664825258997302]["Email"]

9992    bberry@wright.net
Name: Email, dtype: object

In [38]:
#Customer Purchase by AM & PM#
''' Count of people purchases AM VS PM'''
data["AM or PM"].value_counts()

PM    5068
AM    4932
Name: AM or PM, dtype: int64

In [39]:
#Customers who's credit card expires 2022#
'''Filtering to locate a specific customer using infomation available in the dataset'''
'''key point * Card expiry date 2022'''
data['CC Exp Date']

0       02/20
1       11/18
2       08/19
3       02/24
4       10/25
        ...
9995    03/22
9996    07/25
9997    05/21
9998    11/17
9999    02/19
Name: CC Exp Date, Length: 10000, dtype: object

In [43]:
#Customers who's credit card expires 2022#
def fun ():
    count=0
    for date in data['CC Exp Date']:
        if date.split('/')[1]=='22':
            count=count+1
    print(count)

In [44]:
fun ()

996

In [46]:
''' Using lambda fuction '''
#Customers who's credit card expires 2020#
len(data[data['CC Exp Date'].apply(lambda x:x[3:]=='20')])

988

In [48]:
#TOP 5 EMAIL PROVIDERS of customers making purchases#
list1=[]
for email in data['Email']:
    list1.append(email.split('@')[1])

In [49]:
data['temp']=list1

In [50]:
data.head(1)

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price,temp
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14,yahoo.com

In [51]:
data['temp'].value_counts().head(5)

hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: temp, dtype: int64

In [77]:
#TOP 5 EMAIL PROVIDERS#
data['Email'].apply(lambda x:x.split('@')[1]).value_counts().head(5)

hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: Email, dtype: int64

In [ ]:
''' 
* The dataset set has a total of 14 columns 
* Highest purchase price is 99.99 and 10000 rows with no null value( No Missing value) 
* Average purchase price stood at 50.347
* The dataset has 1097 customer making purchases who's lanquage is french.
* hotmail.com with 1638 is the highest email provider used by customers making purchase 
etc